.name {
  font-weight: bold;
}

.name::after {
  content: ':'
}

.list {
  position: relative;
  float: left;
}

.list {
  width: 100%;
}


.item, button {
  background-color: #fff;
}

.item.disabled, button:disabled {
  background-color: #aaa;
}

.item.active {
  background-color: #eee;
}

.item:hover, button:hover {
  background-color: #eee;
}

.checkbox {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 40px;
  height: 15px;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: #aaa;
  transition: background 500ms;
}

.checkbox .tick {
  width: 15px;
  height: 11px;
  border: 1px solid #000;
  border-radius: 16px;
  margin-top: 1px;
  margin-left: 2px;
  transition: margin 500ms;
}

.checkbox.checked {
  background-color: #fff;
}

.checkbox.checked .tick {
  margin-left: 21px;
}

progress {
  background-color: #fff;
  border: 1px solid #000;
}

progress::-moz-progress-bar {
  background-color: #000;
}

#healthBar {
  display: inline-block;
  width: 7ex;
  font-family: arial;
}

#health {
  display: inline-block;
  width: 3ex;
  text-align: right;
}

@font-face {
  font-family: "czcionka";
  src: url("CaslonAntique.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "czcionka";
  src: url("CaslonAntique-Bold.ttf") format("truetype");
  font-weight: bold;
}

body {
  font-family: "czcionka";
  font-size: 1.3rem;
  text-align: center;
  margin: 0;
}

#symbols {
  font-size: 1.6rem;
  padding-left: 9ex;
}

#output {
  border: black solid 1px;
  height: calc(100vh - 4.7rem);
  overflow-y: scroll;
  padding: 5px;
}

main {
  display: inline-block;
  width: 400px;
  text-align: left;
  margin: 10px;
}

button {
  cursor: pointer;
  border: black solid 1px;
  font-size: 20pt;
  font-family: "czcionka";
}

#next {
  position: absolute;
  top: 400px;
  right: 20px;
}

#container {
  position: relative;
}

#title {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: bold;
  opacity: 0;
  z-index: 10;
}

#crop {
  position: absolute;
  top: 0;
  left: 0;
  border: solid white 1px;
  transition: width 500ms;
  width: 1px;
  margin: 0;
  z-index: 5;
}
